
  
  <div class="content container pt-5 pb-5">
    <div class=" pt-5">
        
        <h3>Update Student Details</h3>
<form  [formGroup]="updatestudentform"  (ngSubmit)="updateStudent()">


    <div class="row">
        <div class="col-6">
            <div class="form-group pt-3">
                <input type="text" class="form-control"   required placeholder="Name" formControlName="student_name" >
        
            </div>
            <div class="form-group pt-3">
                <input type="" class="form-control"   required placeholder="Contact Number" formControlName="contact_number" >
        
            </div>
            <div class="form-group pt-3">
                <input type="text" class="form-control"    required placeholder="email id" formControlName="email_id" >
        
            </div>
            <div class="form-group pt-3">

                <!-- <select class="form-select" aria-label="Default select example"  formControlName="course">
                    <option value="" selected disabled>Please select course</option>
                    <option value="DSA">DSA</option>
                    <option value="ML-AI">ML-AI</option>
                    <option value="RPA">RPA</option>
                    <option value="ST">ST</option>
                    <option value="CSA">CSA</option>
                  </select> -->

                  <select class="form-select" aria-label="Default select example" name="course"  formControlName="course"  >
                    <option value="" selected disabled>Please select course</option>
                    <option   *ngFor="let course of courses  let i= index" [value]="course.course_name">{{course.course_name}}</option>
                </select>
               

                 
            </div>
            <div class="form-group pt-3">
                <select class="form-select" aria-label="Default select example"  formControlName="batch">
                    <option value="" selected disabled>Please select course</option>
                    <option value="May 22">May 22</option>
                    <option value="June 22">June 22</option>
                    <option value="July 22">July 22</option>
                    <option value="Augest 22">Augest 22</option>
                  </select>
            </div>
            <div class="form-group pt-3">
                <select class="form-select" aria-label="Default select example"  formControlName="program">
                    <option value="" selected disabled>Please select course</option>
                    <option value="ICTAK">ICTAK</option>
                    <option value="KKEM">KKEM</option>
                    <option value="NORKA">NORKA</option>
                    <option value="ABCD">ABCD</option>
                    <option value="KDISC">KDISC</option>
                  </select>
               
            </div>
            <div class="form-group pt-3">
                <select class="form-select" aria-label="Default select example"  formControlName="training_head">
                    <option value="" selected disabled>Please select course</option>
                    <option selected>Select Training Head</option>
                    <option value="Training Head 1">Training Head 1</option>
                  </select>
            </div>
            <div class="form-group pt-3">
                <select class="form-select" aria-label="Default select example" formControlName="placement_officer" >
                    <option value="" selected disabled>Please select course</option>
                    <option selected>Select Placement head</option>
                    <option value="Placement Head 1">Placement Head 1</option>
                  </select>
                
            </div>
            <div class="form-group pt-3">
                <select class="form-select" aria-label="Default select example"  formControlName="employment_status">
                    <option value="" selected disabled>Please select course</option>
                    <option value="PlacedJobSeeking">Placed</option>
                    <option value="JobSeeking">JobSeeking</option>
                    <option value="NOT Interested">NOT Interested</option>
                  </select>

            </div>
            <div class="form-group pt-3">

                <select class="form-select" aria-label="Default select example"  formControlName="course_status">
                    <option value="" selected disabled>Please select course</option>
                    <option value="Qualified">Qualified</option>
                    <option value="Incompetent">Incompetent</option>
                  </select>
            </div>

        </div>
        <div class="col-6">

           
            <div class="form-group">
                <textarea  class="form-control" id="" cols="30" rows="22" required placeholder="Address" formControlName="contact_address"></textarea>
            </div>

        </div>
      </div>


    <div class="add pt-5" style="text-align:center">
        <button type="submit"  class="btn btn-success"  [disabled]="updatestudentform.invalid">Update Student</button>
        <button type="reset" class="btn btn-warning m-2 ">Clear</button>
    </div>

</form>
    </div>
  
  </div>



